.header{
    width: 100%;
    background-image: url("/img/homeimg/backhomeheader.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 115px 0;
h1{
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    font-size: 85px;

}
h4{
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    font-size: 75px;  
}
}
